@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  background-color: #444;
  font-family: 'Source Code Pro', monospace;
}

h1 {
  width: 680px;
  margin: auto;
  color: #ddd;
  font-size: 48px;
  text-shadow: 2px 2px 2px #222;
}

#main {
  background-color: #ddd;
  box-sizing: border-box;
  width: 680px;
  margin: auto;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #222;
}

#petDisplay {
  box-sizing: border-box;
  width: 640px;
  background-color: #222;
  color: #ddd;
  font-size: 14px;
  padding: 20px;
  height: 360px;
  display: flex;
  flex-flow: row wrap;
}
#stats {
  flex: 0 0 50%;
}
#command-list {
  flex: 0 0 50%;
  text-align: right;
}

#graphics {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

#pet {
  width: 240px;
  white-space: pre-wrap;
  transform: scaleY(0.5);
}

#poop {
  width: 240px;
  white-space: pre-wrap;
  transform: scaleY(0.5);
}


#cliInput {
  font-family: 'Source Code Pro', monospace;
  box-sizing: border-box;
  background-color: #444;
  color: #ddd;
  width: 640px;
  border: 2px solid #333;
}